# SPDX-License-Identifier: GPL-3.0-or-later
#
# This file is a part of Wayfinder
#
# Copyright (C) 2025 Jesse Kane
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# Note, as no gateway is specified, Wayfinder networking will only work on
# FRC radio networks
# Addresses should be in the format of 10.TE.AM.[HOST]/24

[Match]
Name=eth0

[Network]
DHCP=yes
Multicast=yes
MulticastDNS=yes
LinkLocalAddressing=ipv4
IPv4LLStartAddress=169.254.42.42
EmitLLDP=yes

[Address]
#Address=