/*
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Copyright (c) 2025 Jesse Kane
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice
 * this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from this
 * software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS”
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

// This file was automatically generated by WIPS. Do not attempt to modify manually

#ifdef WIPS_OPTION_BUILD_PYTHON

#ifdef __cplusplus
extern "C" {
#endif

#include "{{ name }}.wips.h"
#include <string.h>

#define PY_SSIZE_T_CLEAN
#include "{{ name }}_pyapi.wips.h"
{%- for dependency in dependencies %}
#include "{{ dependency.name }}_pyapi.wips.h"
{%- endfor %}

#define WIPS_INTERNAL
#include "wips_detail.h"

// init

static void _wips_{{ name }}_void_destructor(void *ptr) {
    wips_{{ name }}_destroy((wips_{{ name }}_t *)ptr);
}

static PyObject *wips_{{ name }}_PyObject_new(PyTypeObject* type, PyObject *args, PyObject *kwds) {
    
    wips_{{ name }}_PyObject *obj;

    obj = (wips_{{ name }}_PyObject *)(type->tp_alloc(type,0));
    if (obj) {
        obj->base.wips_type = &wips_{{ name }}_PyType;
        obj->base.handler = NULL;
        obj->c_obj = NULL;
        return (PyObject *)self;
    } else {
        PyErr_SetString(PyExc_RuntimeError, "Failed to initialize {{ name }}");
        return NULL;
    }
}

static int wips_{{ name }}_PyObject_init(PyObject *self, PyObject *args, PyObject *kwds) {

    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;

    wips_{{ name }}_t *c_obj = wips_{{ name }}_create();
    if (!c_obj) {
        PyErr_NoMemory();
        return -1;
    }
    wips_PyHandler *handler = wips_PyHandler_create((void *)c_obj,_wips_{{ name }}_void_destructor);
    if (!handler) {
        PyErr_NoMemory();
        return -1;
    }

    obj->c_obj = c_obj;
    obj->handler = handler;

    return 0;
}

static void wips_{{ name }}_PyObject_dealloc(PyObject *self) {

    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;

    if (obj->base.handler) {
        wips_PyHandler_decref(obj->handler);
        obj->base.handler = NULL;
        obj->base.wips_type = NULL;
        obj->c_obj = NULL;
    }

    Py_TYPE(self)->tp_free(self);
}

// getsetters

{%- for field in fields %}
{%- if field.detail == True %}
{%- elif field.vla == True %}
static PyObject *wips_{{ name }}_PyObject_get_{{ field.name }}(PyObject *self, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    if (!obj->c_obj->{{ field.name }}) {
        // Field is uninitialized, return None
        Py_INCREF(Py_None);
        return Py_None;
    }

    wips_vlaref_t vlaref;
    GET_VLAREF(&vlaref,{{ field.type }},obj->c_obj,{{ field.name }})
    wips_vla_PyObject *py_vla = wips_vla_PyObject_create(
        &wips_{{ field.type }}_PyType,
        obj->base.handler,
        vlaref
    );
    if (!py_vla) {
        PyErr_NoMemory();
        return NULL;
    }
    
    return (PyObject *)py_vla;
}
static int wips_{{ name }}_PyObject_set_{{ field.name }}(PyObject *self, PyObject *value, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return -1;
    }

    if (!PySequence_Check(value)) {
        // Argument does not support sequence protocol, give up
        PyErr_SetString(PyExc_TypeError, "Argument must support the sequence protocol");
        return -1;
    }
    // Value supports the sequence protocol

    // Retrieve length of argument
    Py_ssize_t seqlen = PySequence_Length(value);
    if (seqlen < 0) {
        // Any negative value is invalid
        return -1;
    }
    size_t new_vlasize = (size_t)seqlen;

    // Verify sequence objects, construct C array
    wips_{{ field.type }}_t *new_vlabuffer = (wips_{{ field.type }}_t *)calloc(new_vlasize,GET_SIZE({{ field.type }}));
    if (!new_vlabuffer) {
        // Failed allocation, give up
        PyErr_NoMemory();
        return -1;
    }
    wips_PyType *elemtype = &wips_{{ field.type }}_PyType;
    for (Py_ssize_t i = 0; i < seqlen; ++i) {
        PyObject *seq_elem = PySequence_GetItem(value,i);
        if (!seq_elem) {
            // Failed to retrieve element, cleanup and propagate error
            free(new_vlabuffer);
            return -1;
        }
        if (Py_TYPE(seq_elem) != elemtype->python_type) {
            PyErr_Format(
                PyExc_TypeError,
                "Element %zd of argument does not match vla element type",
                i
            );
            free(new_vlabuffer);
            Py_DECREF(seq_elem);
            return -1;
        }
        wips_{{ field.type }}_t *c_src = (wips_{{ field.type }}_t *)(elemtype->unwrapper(seq_elem));
        if (!c_src) {
            // Failed to unwrap element, give up
            free(new_vlabuffer);
            Py_DECREF(seq_elem);
            return -1;
        }
        wips_{{ field.type }}_t *c_dest = new_vlabuffer + i;
        wips_status_t copy_status = wips_{{ field.type }}_copy(
            c_dest,
            c_src
        );
        if (copy_status != WIPS_STATUS_OK) {
            PyErr_Format(PyExc_RuntimeError,"Failed to copy element %zd", i);
            free(new_vlabuffer);
            Py_DECREF(seq_elem);
            return -1;
        }
        Py_DECREF(seq_elem);
    }

    // Check if old vla is NULL
    if (obj->c_obj->{{ field.name }}) {
        // old vla is not NULL, destroy the buffer
        for (size_t i = 0; i < obj->c_obj->GET_DETAIL({{ field.name }},vlasize)) {
            // Free resources recursively
            wips_{{ field.type }}_t *old_elem = obj->c_obj->{{ field.name }} + i;
            wips_{{ field.type }}_free_resources(old_elem);
        }
        // Free the buffer itself
        free(obj->c_obj->{{ field.name }});
    }
    // old buffer is guaranteed to either be null or freed, we can safely assign the new buffer without leaking memory
    obj->c_obj->{{ field.name }} = new_vlabuffer;
    obj->c_obj->GET_DETAIL({{ field.name }},vlasize) = new_vlasize;
    return 0;
}
{%- elif field.optional == True %}
static PyObject *wips_{{ name }}_PyObject_get_{{ field.name }}(PyObject *self, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    if (obj->c_obj->GET_DETAIL({{ field.name }},optpresent)) {
        wips_PyType *fieldtype = &wips_{{ field.type }}_PyType;
        void *c_field = (void *)(&(obj->c_obj->{{ field.name }}));
        PyObject *py_field = fieldtype->wrapper(c_field,obj->base.handler);
        if (!py_field) {
            // Failed to wrap value, propagate error
            return NULL;
        }
        return py_field;
    } else {
        // Optional is not present, return None
        Py_INCREF(Py_None);
        return Py_None;
    } 
}
static int wips_{{ name }}_PyObject_set_{{ field.name }}(PyObject *self, PyObject *value, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    if (value == Py_None) {
        // value is None, clear optional
        obj->c_obj->GET_DETAIL({{ field.name }},optpresent) = 0x00;
        void *optval = (void *)(&(obj->c_obj->{{ field.name }}));
        memset(optval,0,GET_SIZE({{ field.type }}));
        return 0;
    }
    // value is not None
    // verify value is of the correct type
    wips_PyType *valtype = &wips_{{ field.type }}_PyType;
    if (Py_TYPE(value) != valtype->python_type) {
        PyErr_SetString(PyExc_TypeError,"Argument type does not match field type");
        return -1;
    }
    // assign value
    wips_{{ field.type }}_t *c_src = (wips_{{ field.type }}_t *)(valtype->unwrapper(value));
    if (!c_src) {
        // Failed to unwrap value, propagate error
        return -1;
    }
    wips_{{ field.type }}_t *c_dest = &(obj->c_obj->{{ field.name }});
    wips_status_t copy_status = wips_{{ field.type }}_copy(
        c_dest,
        c_src
    );
    if (copy_status != WIPS_STATUS_OK) {
        PyErr_SetString(PyExc_RuntimeError,"Failed to copy value");
        return -1;
    }
    obj->c_obj->GET_DETAIL({{ field.name }},optpresent) = 0x01;
    return 0;
}
{%- else %}
static PyObject *wips_{{ name }}_PyObject_get_{{ field.name }}(PyObject *self, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    wips_PyType *fieldtype = &wips_{{ field.type }}_PyType;
    void *c_field = (void *)(&(obj->c_obj->{{ field.name }}));
    PyObject *py_field = fieldtype->wrapper(c_field,obj->base.handler);
    if (!py_field) {
        // Failed to wrap value, propagate error
        return NULL;
    }
    return py_field;
}
static int wips_{{ name }}_PyObject_set_{{ field.name }}(PyObject *self, PyObject *value, void *closure) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    // value is not None
    // verify value is of the correct type
    wips_PyType *valtype = &wips_{{ field.type }}_PyType;
    if (Py_TYPE(value) != valtype->python_type) {
        PyErr_SetString(PyExc_TypeError,"Argument type does not match field type");
        return -1;
    }
    // assign value
    wips_{{ field.type }}_t *c_src = (wips_{{ field.type }}_t *)(valtype->unwrapper(value));
    if (!c_src) {
        // Failed to unwrap value, propagate error
        return -1;
    }
    wips_{{ field.type }}_t *c_dest = &(obj->c_obj->{{ field.name }});
    wips_status_t copy_status = wips_{{ field.type }}_copy(
        c_dest,
        c_src
    );
    if (copy_status != WIPS_STATUS_OK) {
        PyErr_SetString(PyExc_RuntimeError,"Failed to copy value");
        return -1;
    }
    return 0;
}
{%- endif %}
{%- endfor %}

static PyGetSetDef wips_{{ name }}_PyObject_getsetters[] = {
    {%- for field in fields %}
    {%- if field.detail == True %}
    {%- else %}
    {
        "{{ field.name }}",
        (getter)wips_{{ name }}_PyObject_get_{{ field.name }},
        (setter)wips_{{ name }}_PyObject_set_{{ field.name }},
        {%- if field.vla == True %}
        "Sequence[{{ field.type }}]",
        {%- elif field.optional == True %}
        "Optional[{{ field.type }}]",
        {%- else %},
        "{{ field.type }}",
        {%- endif %}
        NULL
    },
    {%- endif %}
    {%- endfor %}
    {NULL}
}

// wips_PyType

static void *wips_{{ name }}_void_create() {
    return (void *)wips_{{ name }}_create();
}

static PyObject *wips_{{ name }}_wrap(void *c_obj, wips_PyHandler *handler) {
    wips_{{ name }}_PyObject *obj = 
        (wips_{{ name }}_PyObject *)wips_{{ name }}_PyObject_new(
            &wips_{{ name }}_PyTypeObject, NULL, NULL
        );
    
    // Failed to initialize object, propagate error
    if (!obj) return NULL;

    obj->base.handler = handler;
    obj->c_obj = (wips_{{ name }}_t *)c_obj;
    wips_PyHandler_incref(handler);

    return obj;
}

static void *wips_{{ name }}_unwrap(PyObject *py_obj) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)(py_obj);
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    return (void *)(obj->c_obj);
}

static wips_status_t wips_{{ name }}_void_copier(void *dest, const void *src) {
    return wips_{{ name }}_copy(
        (wips_{{ name }}_t *)dest,
        (const wips_{{ name }}_t *)src
    );
}

static PyObject *wips_{{ name }}_extractor(void *obj) {
    PyObject *dict = PyDict_New();
    // Failed to create dict, propagate error
    if (!dict) return NULL;

    wips_{{ name }}_t *c_obj = (wips_{{ name }}_t *)obj;

    {%- for field in fields %}
    {%- if field.detail == True %}
    {%- elif field.vla == True %}
    {
        wips_PyType *elemtype = &wips_{{ field.type }}_PyType;

        size_t length = c_obj->GET_DETAIL({{ field.name }},vlasize);
        Py_ssize_t pylength;
    
        wips_status_t len_status = (size_to_pyssize(&pylength,length));
        if (len_status == WIPS_STATUS_OVERFLOW) {
            PyErr_SetString(PyExc_OverflowError,"vla is too large");
            return NULL;
        }

        PyObject *value = PyList_New(pylength);
        if (!value) {
            // Failed to allocate list, propagate error
            Py_DECREF(dict);
            return NULL;
        }

        size_t c_i = 0;
        for (Py_ssize_t i = 0; i < pylength; ++i) {
            if (c_i >= length) {
                // OOB check
                Py_DECREF(dict);
                Py_DECREF(value);
                PyErr_Format(
                    PyExc_IndexError,
                    "Index %zd is out of bounds", i
                );
                return NULL;
            }
            void *elem = (void *)(c_obj->{{ field.name }} + i);
            PyObject *extract_elem = elemtype->extractor(elem);
            if (!extract_elem) {
                // NULL is only returned from an extractor on exception, no checking for error is needed
                Py_DECREF(dict);
                Py_DECREF(value);
                return NULL;
            }
            PyList_SET_ITEM(value, i, extract_elem);

            ++c_i;
        }

        if (PyDict_SetItemString(dict,"{{ field.name }}",value) != 0) {
            // failed to assign value, give up and propagate error
            Py_DECREF(dict);
            Py_DECREF(value);
            return NULL;
        }
        // Prevent memory leaks, dict assignment does not steal references
        Py_DECREF(value);
    }
    {%- elif field.optional == True %}
    if (c_obj->GET_DETAIL({{ field.name }},optpresent)) {
        // Optional is present, extract it
        wips_PyType *valtype = &wips_{{ field.type }}_PyType;
        void *c_value = (void *)(&(c_obj->{{ field.name }}));
        PyObject *value = valtype->extractor(c_value);
        if (!value) {
            // failed to extract, give up
            Py_DECREF(dict);
            return NULL;
        }
        if (PyDict_SetItemString(dict, "{{ field.name }}", value) != 0) {
            // Failed to assign value, give up and propagate error
            Py_DECREF(dict);
            Py_DECREF(value);
            return NULL;
        }
        // Prevent memory leaks, dict assignment does not steal reference
        Py_DECREF(value);
    } else {
        // Optional is not present, pass None to dict
        if (PyDict_SetItemString(dict, "{{ field.name }}", Py_None) != 0) {
            // failed to assign value, give up and propagate error
            Py_DECREF(dict);
            return NULL;
        }
    }
    {%- else %}
    {
        wips_PyType *valtype = &wips_{{ field.type }}_PyType;
        void *c_value = (void *)(&(c_obj->{{ field.name }}));
        PyObject *value = valtype->extractor(c_value);
        if (!value) {
            // failed to extract, give up
            Py_DECREF(dict);
            return NULL;
        }
        if (PyDict_SetItemString(dict, "{{ field.name }}", value) != 0) {
            // Failed to assign value, give up and propagate error
            Py_DECREF(dict);
            Py_DECREF(value);
            return NULL;
        }
        // Prevent memory leaks, dict assignment does not steal reference
        Py_DECREF(value);
    }
    {%- endif %}
    {%- endfor %}

    return dict;
}

wips_PyType wips_{{ name }}_PyType = {
    .type_id = WIPS_struct,
    .size = GET_SIZE({{ name }}),
    .python_type = &wips_{{ name }}_PyTypeObject,
    .vlamethods = &wips_{{ name }}_vlamethods,
    .creator = wips_{{ name }}_void_create,
    .wrapper = wips_{{ name }}_wrap,
    .unwrapper = wips_{{ name }}_unwrap,
    .destructor = _wips_{{ name }}_void_destructor,
    .copier = wips_{{ name }}_void_copier,
    .extractor = wips_{{ name }}_extractor
};

// Methods

static PyObject *wips_{{ name }}_PyObject_copy(PyObject *self, PyObject *Py_UNUSED(args)) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    wips_{{ name }}_t *copy = wips_{{ name }}_create();
    if (!copy) {
        PyErr_NoMemory();
        return NULL;
    }

    wips_status_t copy_status = wips_{{ name }}_copy(copy,obj->c_obj);
    if (copy_status != WIPS_STATUS_OK) {
        PyErr_SetString(PyExc_RuntimeError, "Failed to copy object");
        wips_{{ name }}_destroy(copy);
        return NULL;
    }

    wips_PyHandler *handler = wips_PyHandler_create((void *)copy,_wips_{{ name }}_void_destructor);

    if (!handler) {
        PyErr_SetString(PyExc_RuntimeError,"Failed to create handler");
        wips_{{ name }}_destroy(copy);
        return NULL;
    }

    PyObject *pyobj = wips_{{ name }}_wrap((void *)copy,handler);

    if (!pyobj) {
        wips_PyHandler_decref(handler); // destroys handler and resource
        return NULL;
    }

    return pyobj;
}

static PyObject *wips_{{ name }}_PyObject_encode(PyObject *Py_UNUSED(self), PyObject *args) {
    PyObject *py_struct;

    if (!PyArg_ParseTuple(args, "O", &py_struct)) {
        return NULL;
    }

    if (Py_TYPE(py_struct) != &wips_{{ name }}_PyTypeObject) {
        PyErr_SetString(PyExc_TypeError, "input struct must be of type {{ name }}");
        return NULL;
    }

    wips_{{ name }}_t *c_obj = (wips_{{ name }}_t *)((&wips_{{ name }}_PyType)->unwrapper(py_struct));
    if (!c_obj) return NULL;

    wips_blob_t *blob = wips_blob_create(GET_SIZE({{ name }}));

    wips_result_t encode_status = wips_encode_{{ name }}(blob, c_obj);
    if (encode_status.status_code != WIPS_STATUS_OK) {
        PyErr_SetString(PyExc_RuntimeError, "Failed to encode {{ name }}");
        wips_blob_destroy(blob);
        return NULL;
    }

    PyObject *pyblob = (PyObject *)wips_blob_PyObject_create(blob);
    if (!pyblob) {
        wips_blob_destroy(blob);
        return NULL;
    }

    return pyblob;
}

static PyObject *wips_{{ name }}_PyObject_decode(PyObject *Py_UNUSED(self), PyObject *args) {
    PyObject *pyblob;

    if (!PyArg_ParseTuple(args, "O", &pyblob)) {
        return NULL;
    }

    if (Py_TYPE(pyblob) != &wips_blob_PyTypeObject) {
        PyErr_SetString(PyExc_TypeError, "input struct must be a wips blob");
        return NULL;
    }

    wips_{{ name }}_t *c_obj = wips_{{ name }}_create();
    wips_blob_t *c_blob = ((wips_blob_PyObject *)(pyblob))->c_obj;

    if (!c_blob) {
        PyErr_SetString(PyExc_RuntimeError, "Blob is NULL");
        wips_{{ name }}_destroy(c_obj);
        return NULL;
    }

    wips_result_t decode_status = wips_decode_{{ name }}(c_obj,c_blob);

    if (decode_status.status_code != WIPS_STATUS_OK) {
        PyErr_SetString(PyExc_RuntimeError, "Failed to decode {{ name }}");
        wips_{{ name }}_destroy(c_obj);
        return NULL;
    }

    wips_PyHandler *handler = wips_PyHandler_create((void *)c_obj, _wips_{{ name }}_void_destructor);
    if (!handler) {
        PyErr_SetString(PyExc_RuntimeError,"Failed to create handler");
        wips_{{ name }}_destroy(c_obj);
        return NULL;
    }

    PyObject *pyobj = wips_{{ name }}_wrap((void *)c_obj, handler);
    if (!pyobj) {
        wips_PyHandler_decref(handler); // destroys handler and resource
        return NULL;
    }
    
    return pyobj;
}

static PyObject *wips_{{ name }}_PyObject_extract(PyObject *self, PyObject *Py_UNUSED(args)) {
    wips_{{ name }}_PyObject *obj = (wips_{{ name }}_PyObject *)self;
    if (!obj->c_obj) {
        PyErr_SetString(PyExc_AttributeError,"Struct is not initialized");
        return NULL;
    }

    return (&wips_{{ name }}_PyType)->extractor((void *)(obj->c_obj));
}

static PyMethodDef wips_{{ name }}_PyObject_methods[] = {
    {
        "encode",
        wips_{{ name }}_PyObject_encode,
        METH_VARARGS,
        "Encodes a struct"
    },
    {
        "decode",
        wips_{{ name }}_PyObject_decode,
        METH_VARARGS,
        "Decodes a blob"
    },
    {
        "copy",
        wips_{{ name }}_PyObject_copy,
        METH_NOARGS,
        "Creates a deep copy"
    },
    {
        "extract",
        wips_{{ name }}_PyObject_extract,
        METH_NOARGS,
        "Extracts struct to a python dict"
    },
    {NULL, NULL, 0, NULL}
};

PyTypeObject wips_{{ name }}_PyTypeObject = {
    PyVarObject_HEAD_INIT(NULL, 0)
    .tp_name = "wips.{{ name }}",
    .tp_basicsize = GET_SIZE({{ name }}),
    .tp_flags = Py_TPFLAGS_DEFAULT,
    .tp_base = &wips_struct_PyTypeObject,
    .tp_new = wips_{{ name }}_PyObject_new,
    .tp_init = wips_{{ name }}_PyObject_init,
    .tp_dealloc = wips_{{ name }}_PyObject_dealloc,
    .tp_methods = wips_{{ name }}_PyObject_methods,
    .tp_getset = wips_{{ name }}_PyObject_getsetters
};

int wips_{{ name }}_PyTypeObject_init(PyObject *m) {
    if (PyType_Ready(&wips_{{ name }}_PyTypeObject) < 0) {
        return -1;
    }

    Py_INCREF(&wips_{{ name }}_PyTypeObject);
    if (PyModule_AddObject(m, "{{ name }}", (PyObject *)&wips_{{ name }}_PyTypeObject) < 0) {
        Py_DECREF(&wips_{{ name }}_PyTypeObject);
        return -1;
    }

    PyObject *encode_func = PyObject_GetAttrString((PyObject *)&wips_{{ name }}_PyTypeObject, "encode");
    if (!encode_func) {
        // failed to retrieve encoder function, give up
        return -1;
    }

    PyObject *decode_func = PyObject_GetAttrString((PyObject *)&wips_{{ name }}_PyTypeObject, "decode");
    if (!encode_func) {
        // failed to retrieve decoder function, give up
        return -1;
    }

    PyObject *static_encode_func = PyStaticMethod_New(encode_func);
    Py_DECREF(encode_func);
    if (!static_encode_func) {
        // failed to create static encoder function, give up
        return -1;
    }
    if (PyObject_SetAttrString((PyObject *)&wips_{{ name }}_PyTypeObject, "encode", static_encode_func) < 0) {
        Py_DECREF(static_encode_func);
        return -1;
    }
    Py_DECREF(static_encode_func);

    PyObject *static_decode_func = PyStaticMethod_New(decode_func);
    Py_DECREF(decode_func);
    if (!static_decode_func) {
        // failed to create static decoder function, give up
        return -1;
    }
    if (PyObject_SetAttrString((PyObject *)&wips_{{ name }}_PyTypeObject, "decode", static_decode_func) < 0) {
        Py_DECREF(static_decode_func);
        return -1;
    }
    Py_DECREF(static_decode_func);
    return 0;
}

#ifdef __cplusplus
}
#endif

#endif // WIPS_OPTION_BUILD_PYTHON
