/*
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Copyright (c) 2025 Jesse Kane
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice
 * this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from this
 * software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS”
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

// This file was automatically generated by WIPS. Do not attempt to modify manually

#include "wips_runtime.h"
#include "{{ name }}.wips.h"

#define WIPS_INTERNAL
#include "wips_detail.h"

wips_{{ name }}_t* wips_{{ name }}_create(){
    wips_{{ name }}_t* struct_ptr = calloc(1,GET_SIZE({{ name }}));
    if (!struct_ptr) {return NULL;}
    return struct_ptr;
}
void wips_{{ name }}_free_resources(wips_{{ name }}_t* struct_ptr) {
{%- if trivial == True %}
{%- else %}
{%- for field in fields %}
{%- if field.vla == True %}
    if (struct_ptr->{{ field.name }}) {
        for (wips_u32_t i = 0; i < struct_ptr->GET_DETAIL({{ field.name }},vlasize); i++) {
            wips_{{ field.type }}_free_resources(struct_ptr->{{ field.name }} + i);
        }
        free(struct_ptr->{{ field.name }});
    }
{%- elif field.trivial == True %}
{%- else %}
    wips_{{ field.type }}_free_resources(&(struct_ptr->{{ field.name }}));
{%- endif %}
{%- endfor %}
{%- endif %}
}
// Function to destroy the struct and free all resources
void wips_{{ name }}_destroy(wips_{{ name }}_t* struct_ptr) {
    if (!struct_ptr) { return; }
    // Free resources allocated by the struct
    wips_{{ name }}_free_resources(struct_ptr);
    
    // Free the struct itself
    free(struct_ptr);
}


wips_status_t wips_encode_{{ name }}(wips_bin_t* data, wips_{{ name }}_t* in) {
    size_t bytesEncoded = 0;
    wips_status_t status;
{%- for field in fields -%}
{%- if field.vla == True %}
    for (wips_u32_t i = 0; i < in->GET_DETAIL({{ field.name }},vlasize); i++) {
        status = wips_encode_{{ field.type }}(data, in->{{ field.name }} + i);
        bytesEncoded += status.bytes_processed;
        if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesEncoded,status.status_code);
    }
{%- elif field.optional == True %}
    if (in->GET_DETAIL({{ field.name }},optpresent)) {
        status = wips_encode_{{ field.type }}(data, &(in->{{ field.name }}));
        bytesEncoded += status.bytes_processed;
        if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesEncoded,status.status_code);
    }
{%- else %}
    status = wips_encode_{{ field.type }}(data, &(in->{{ field.name }}));
    bytesEncoded += status.bytes_processed;
    if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesEncoded,status.status_code);
{%- endif %}
{%- endfor %}
    return wips_make_status(bytesEncoded,WIPS_STATUS_OK);
}
wips_status_t wips_decode_{{ name }}(wips_{{ name }}_t* out, wips_bin_t* data) {
    size_t bytesDecoded = 0;
    wips_status_t status;
{%- for field in fields -%}
{%- if field.vla == True %}
    out->{{ field.name }} = malloc(out->GET_DETAIL({{ field.name }},vlasize) * GET_SIZE({{ field.type }}));
    if (!out->{{ field.name }}) return wips_make_status(bytesDecoded,WIPS_STATUS_OOM);
    for (wips_u32_t i = 0; i < out->GET_DETAIL({{ field.name }},vlasize); i++) {
        status = wips_decode_{{ field.type }}(out->{{ field.name }} + i, data);
        bytesDecoded += status.bytes_processed;
        if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesDecoded,status.status_code);
    }
{%- elif field.optional == True %}
    if (out->GET_DETAIL({{ field.name }},optpresent)) {
        status = wips_decode_{{ field.type }}(&(out->{{ field.name }}), data);
        bytesDecoded += status.bytes_processed;
        if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesDecoded,status.status_code);
    }
{%- else %}
    status = wips_decode_{{ field.type }}(&(out->{{ field.name }}), data);
    bytesDecoded += status.bytes_processed;
    if (status.status_code != WIPS_STATUS_OK) return wips_make_status(bytesDecoded,status.status_code);
{%- endif %}
{%- endfor %}
    return wips_make_status(bytesDecoded,WIPS_STATUS_OK);
}